name: build our image

on:
  push:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
          - uses: docker/setup-buildx-action@v1
            id: buildx
            with:
              install: true
      - name: build the image
        run: |
          docker buildx build \
            --tag pixeldrew/hero-masq:latest \
            --platform linux/amd64,linux/arm/v7,linux/arm64 .
